<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType image/gif "access plus 240 minutes"
  ExpiresByType image/jpeg "access plus 240 minutes"
  ExpiresByType image/png "access plus 240 minutes"
  ExpiresByType text/css "access plus 240 minutes"
  ExpiresByType application/javascript "access plus 60 minutes"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  Options -MultiViews
  RewriteCond %{REQUEST_METHOD} OPTIONS

    RewriteRule ^api/v1/([a-z]*)/([a-z]*)$ /api.php?ver=1&mod=$1&rub=$2 [L]

  RewriteRule ^api/v1/([a-z]*)/([a-z]*)/([a-z]*)$ /api.php?ver=1&mod=$1&rub=$2&fonc=$3 [QSA,L]
  RewriteRule ^api/v1/([a-z]*)/([a-z]*)$ /api.php?ver=1&mod=$1&rub=$2 [QSA,L]

  RewriteRule ^([a-z]*)/([a-z]*)/([a-z]*)$ /index.php?mod=$1&rub=$3 [QSA,L]
  RewriteRule ^([a-z]*)/([a-z]*)$ /index.php?mod=$1&rub=$2 [QSA,L]
  RewriteRule ^([a-z]*)$ /index.php?mod=$1 [QSA,L]

  RewriteCond %{REQUEST_FILENAME} !\.(css|js|svg|gif|png|html|ttf|woff2?|ico|jpg|jpeg|eot|woff2)$
  RewriteCond %{REQUEST_FILENAME} !/index.php
  RewriteCond %{REQUEST_FILENAME} !/doc.php
  RewriteCond %{REQUEST_FILENAME} !/api.php
  RewriteRule . /index.php [QSA,L]
  RewriteBase /
</IfModule>
